.page {
  /* background-color: black; */
  /* background-color: #313131; */
  /* background-color: #f6d9d5; */
  /* background-color: #2e4045; */
  /* hotpink - FF69B4 */
  /* white - FFFFFF */
  /* black - 000000 */
}

/* =====ImageGallery===== */

.wrapper {
  text-align: center;
}

.image-gallery {
  padding: 0 1.5rem;
}

.image-row-container {
}

.singleImage {
  width: 100%;
}

.twoImages {
  width: 50%;

  display: inline-block;
  vertical-align: middle;
}

.image-row-container.singleImage {
}

.image-row-container.twoImages {
}

.image-row-container > div img {
}

.image {
  padding: 4rem;
}

@media screen and (max-width: 480px) {
  .image {
    padding: 1.5rem 1rem;
  }
}

/* =====NavBar===== */

.nav-bar {
  position: sticky;
  top: 0;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px 48px;
  align-items: center;
  text-align: center;
}

/* =====About===== */

.about-container {
  height: 100vh;
}

.about {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  max-width: 800px;
}

.about-title {
  padding: 32px 0;
}
.about-text {
  text-align: center;
}

.about-text a {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem);
  font-weight: 300;
}

.about a:hover {
  color: hotpink;
}

/* =====BackToTopBtn===== */

.hidden {
  display: none;
}

.showBtn {
  position: fixed;
  padding: 3px;
  right: -100px;
  bottom: 50px;
  font-size: clamp(1.5rem, 3vw, 3rem);
  cursor: pointer;
  transform: translate(-150px);
  animation: slideLeft 1s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-150px);
  }
}
/* =====Socials===== */

.socials-container {
  position: sticky;
  bottom: 40px;
  left: 50px;
  max-width: clamp(1.5rem, 3vw, 3rem);
}

.socials {
}

.social-btn-container {
}

.social {
}

.btn-container {
  max-width: clamp(1.5rem, 3vw, 2rem);
}

/* =====modal===== */

.modal-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.2); */
  opacity: 90%;
  top: 0;
  left: 0;
}

.modal-wrapper {
  position: fixed;
  margin: 10px auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-close {
  position: fixed;
  right: 15px;
  top: 15px;
  text-align: center;
  font-size: 1.75em;
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 1.75em;
}

.navigation-next-prev .next-prev {
  position: fixed;
  top: 50%;
  font-size: 2em;
  cursor: pointer;
}

.next {
  right: 15px;
}

.prev {
  left: 15px;
}

/* =====slider===== */

.slider {
  position: relative;
  margin: 0 auto;
}

.slide {
  position: relative;
  display: none;
}

@keyframes fade {
  from {
    /* opacity: 0.4; */
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.slide.active {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide-title {
  padding-bottom: 3px;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}

.slide img {
  max-width: 95vw;
  max-height: 95vh;
}
