/* =====ImageGallery===== */

.wrapper {
  text-align: center;
}

.image-gallery {
  padding: 0 1.5rem;
}

.singleImage {
  width: 100%;
}

.twoImages {
  width: 50%;

  display: inline-block;
  vertical-align: middle;
}

.image {
  padding: 4rem;
}

/* =====NavBar===== */

.nav-bar {
  position: sticky;
  top: 0;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px 48px;
  align-items: center;
  text-align: center;
}

.links a:hover {
  color: hotpink !important;
}

.link-active {
  color: hotpink !important;
}

/* =====About===== */

.about-container {
  min-height: auto;
}

.about {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  max-width: 800px;
}

.about-title {
  padding: 32px 0;
  text-align: left;
}
.about-text {
  text-align: left;
  min-width: 300px;
}

.show-more {
  display: flex;
  align-items: center;
}

.info-btn {
  padding: 0 0 1px 0;
}

.show-more-text {
  position: inherit;
  text-align: left;
  padding: 32px 0 64px;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 64px 0;
  text-align: center;
  font-size: clamp(0.6rem, 0.8vw, 0.8rem);
  color: gray;
}

.footer-obout {
  padding: 64px 0 12px;
  text-align: start;
}

.about-text a {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem);
  font-weight: 300;
}

.about a:hover {
  color: hotpink;
}

/* =====BackToTopBtn===== */

.hidden {
  display: none;
}

.showBtn {
  position: fixed;
  padding: 3px;
  right: -100px;
  bottom: 50px;
  font-size: clamp(1.5rem, 3vw, 3rem);
  cursor: pointer;
  transform: translate(-150px);
  animation: slideLeft 1s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-150px);
  }
}

/* =====Socials===== */

.socials-container {
  position: fixed !important;
  bottom: 40px !important;
  left: 50px;
  max-width: clamp(1.5rem, 3vw, 3rem);
}

.btn-container {
  max-width: clamp(1.5rem, 3vw, 2rem);
}

/* =====modal===== */

.modal-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.2); */
  opacity: 90%;
  top: 0;
  left: 0;
}

.modal-wrapper {
  position: fixed;
  margin: 10px auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.modal-close {
  position: fixed;
  right: 15px;
  top: 15px;
  text-align: center;
  font-size: 1.75em;
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 1.75em;
  z-index: 20;
}

.navigation-next-prev .next-prev {
  position: fixed;

  top: 50%;
  font-size: 2em;
  cursor: pointer;
  transform: translateY(-100%);
  z-index: 20;
}

.next {
  right: 15px;
}

.prev {
  left: 15px;
}

/* =====slider===== */

.slider {
  position: relative;
  margin: 0 auto;
}

.slide {
  position: relative;
  display: none;
}

@keyframes fade {
  from {
    /* opacity: 0.4; */
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.slide.active {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide-title {
  padding: 20px 0 10px;
  text-align: center;
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  font-weight: 400;
}

.slide img {
  max-width: 95vw;
  max-height: 90vh;
}

@media screen and (max-width: 480px) {
  .image {
    padding: 1.5rem 0.5rem;
  }
  .socials-container {
    bottom: 16px !important;
    left: 32px !important;
  }
  .image-gallery {
    padding: 0 8px;
  }

  .show-more-text {
    padding: 32px 0 24px !important;
  }

  .footer {
    padding: 64px 0 32px;
  }

  .showBtn {
    position: fixed;
    padding: 3px;
    right: -100px;
    bottom: 25px;
    font-size: clamp(1.5rem, 3vw, 3rem);
    cursor: pointer;
    transform: translate(-130px);
    animation: slideLeft 1s;
  }
  @keyframes slideLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-130px);
    }
  }
}
